<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/navbar.css">
  <link rel="stylesheet" href="./css/wishlists/wishlist.css">
  <script src="./js/theme-list/theme_list.js"></script>
</head>

<body>
  <header>
    <div class="header__prev-button">
      <img src="./images/icon/left-arrow.svg">
    </div>

    <div class="header-contents">
      <h1 class="header-contents__title">서대문구</h1>
      <img src="./images/icon/edit.svg" alt="" class="header-contents__edit-btn">
    </div>
  </header>

  <main>
    <section class="theme" id="theme1">
      <header class="theme__header">
        <div class="theme__profile">
          <div class="theme__profile-pic">
            <img src="./images/profile-pic.jpg">
          </div>
          <span class="theme__profile-nickname">Mr.Jang</span>
        </div>

        <div class="theme__header-icon">
          <img src="./images/icon/reservation-ok.svg" alt="" class="res">
          <span>예약가능</span>
        </div>
      </header>

      <div class="location">
        <div class="location__slider">
          <div class="location__images">
            <div class="location__image">
              <img src="./images/location01.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location02.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location03.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location04.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location05.jpg" alt="">
            </div>
          </div>

          <div class="location__nav-buttons">
            <div class="location__prev-button">
              <img src="./images/icon/left-arrow.svg">
            </div>
            <div class="location__next-button">
              <img src="./images/icon/right-arrow.svg">
            </div>
          </div>
        </div>

        <div class="location__nav-dots">
          <span class="location__dot active"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
        </div>
      </div>

      <div class="theme__contents">
        <div class="theme__title">
          <h2>"우더니와 떠나는 맛따라 멋따라 서울 탐방"</h2>
        </div>
        <div class="theme__description">
          <p>서울을 손에 넣고 싶나? 따라와 온 서울이 너의 것이니..</p>
        </div>
      </div>

      <footer class="theme__info">
        <div class="theme__bookable-dates">
          예약 가능 기간: 23년 5월 10일 ~ 23년 5월 17일
        </div>
        <div class="theme__icons">
          <a href="">
            <img src="./images/icon/share.svg" alt="" class="share">
          </a>
          <a href="">
            <img src="./images/icon/heart.svg" alt="" class="heart">
          </a>
        </div>
      </footer>
    </section>

    <section class="theme" id="theme2">
      <header class="theme__header">
        <div class="theme__profile">
          <div class="theme__profile-pic">
            <img src="./images/profile-pic.jpg">
          </div>
          <span class="theme__profile-nickname">Mr.Jang</span>
        </div>

        <div class="theme__header-icon">
          <img src="./images/icon/reservation-ok.svg" alt="" class="res">
          <span>예약가능</span>
        </div>
      </header>

      <div class="location">
        <div class="location__slider">
          <div class="location__images">
            <div class="location__image">
              <img src="./images/location01.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location02.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location03.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location04.jpg" alt="">
            </div>
            <div class="location__image">
              <img src="./images/location05.jpg" alt="">
            </div>
          </div>

          <div class="location__nav-buttons">
            <div class="location__prev-button">
              <img src="./images/icon/left-arrow.svg">
            </div>
            <div class="location__next-button">
              <img src="./images/icon/right-arrow.svg">
            </div>
          </div>
        </div>

        <div class="location__nav-dots">
          <span class="location__dot active"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
        </div>
      </div>

      <div class="theme__contents">
        <div class="theme__title">
          <h2>"우더니와 떠나는 맛따라 멋따라 서울 탐방"</h2>
        </div>
        <div class="theme__description">
          <p>서울을 손에 넣고 싶나? 따라와 온 서울이 너의 것이니..</p>
        </div>
      </div>

      <footer class="theme__info">
        <div class="theme__bookable-dates">
          예약 가능 기간: 23년 5월 10일 ~ 23년 5월 17일
        </div>
        <div class="theme__icons">
          <a href="">
            <img src="./images/icon/share.svg" alt="" class="share">
          </a>
          <a href="">
            <img src="./images/icon/heart.svg" alt="" class="heart">
          </a>
        </div>
      </footer>
    </section>
  </main>
</body>

</html>