<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chat/chatroom.css">
    <script src="../js/chat/chatroom.js" defer></script>
    <title>Document</title>
</head>
<body>

    

    <section class="room">
        <!-- 채팅방 이름 -->
        <div class="room__title">
            <button class="room__undo" type="button">
                <img src="../images/icon/navigate_before.svg" alt="">
            </button>
            <div class="room__detail">
                <div class="room__user-name">
                    <span>innerJoin123</span>
                </div>
                <div class="room__date">
                    <span>응답 시간 : 1시간</span>
                </div>
            </div>
            <button class="room__menu" type="button">
                <img src="../images/icon/more-vert.svg" alt="">
            </button>
            <div class="room__nav hidden">
                <div class="room__nav-wrap">
                    <button class="nav-btn" type="button">
                        <a href="https://m.naver.com/">신고하기</a>
                    </button>
                    <button class="nav-btn" type="button"><a href="#">차단하기</a></button>
                    <button class="nav-btn" type="button"><a href="#">나가기</a></button>
                </div>
            </div>
        </div>

        <div class="room__theme">
            <div class="room__theme-Img">
                <img src="../images/location01.jpg">
            </div>
            <div class="room__theme-content">
                <h3>theme 제목이 들어갈 공간</h3>
                <p>theme 내용 설명이 들어갈 공간</p>
            </div>
            <button class="room__reservation" type="button">
                <span>일정 잡기</span>
            </button>
        </div>



        <!-- 메시지 내역 -->
        <div class="room__chat-wrap">


            <!-- 상대가 보낸 메세지 -->
            <div class="room__item">
                <button class="room__user-img" type="button">
                    <img src="../images/profile-pic.jpg" alt="">
                </button>
                <div class="room__content">
                    <p class="room__msg" >김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                        김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지  김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                    </p>
                    <span class="room__time" >오전 23시 59분</span>
                </div>
            </div>


            <!-- 내가 보낸 메세지 -->
            <div class="room__item my-msg">
                <div class="room__content">
                    <span class="room__time">오전 9시 34분</span>
                    <p class="room__msg">하이</p>
                </div>
            </div>

                        <!-- 상대가 보낸 메세지 -->
                        <div class="room__item">
                            <button class="room__user-img" type="button">
                                <img src="../images/profile-pic.jpg" alt="">
                            </button>
                            <div class="room__content">
                                <p class="room__msg" >김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                                    김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지  김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                                </p>
                                <span class="room__time" >오전 23시 59분</span>
                            </div>
                        </div>
            
            
                        <!-- 내가 보낸 메세지 -->
                        <div class="room__item my-msg">
                            <div class="room__content">
                                <span class="room__time">오전 9시 34분</span>
                                <p class="room__msg">하이</p>
                            </div>
                        </div>

                                    <!-- 상대가 보낸 메세지 -->
            <div class="room__item">
                <button class="room__user-img" type="button">
                    <img src="../images/profile-pic.jpg" alt="">
                </button>
                <div class="room__content">
                    <p class="room__msg" >김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                        김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지  김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                    </p>
                    <span class="room__time" >오전 23시 59분</span>
                </div>
            </div>


            <!-- 내가 보낸 메세지 -->
            <div class="room__item my-msg">
                <div class="room__content">
                    <span class="room__time">오전 9시 34분</span>
                    <p class="room__msg">하이</p>
                </div>
            </div>


                        <!-- 상대가 보낸 메세지 -->
                        <div class="room__item">
                            <button class="room__user-img" type="button">
                                <img src="../images/profile-pic.jpg" alt="">
                            </button>
                            <div class="room__content">
                                <p class="room__msg" >김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                                    김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지  김세정...몸매 노래 얼굴 다가진여자..하지만 강릉함씨 32대손인 나 함필규는 가지지 못했지
                                </p>
                                <span class="room__time" >오전 23시 59분</span>
                            </div>
                        </div>
            
            
                        <!-- 내가 보낸 메세지 -->
                        <div class="room__item my-msg">
                            <div class="room__content">
                                <span class="room__time">오전 9시 34분</span>
                                <p class="room__msg">하이</p>
                            </div>
                        </div>
            


        </div>

        <!-- 메시지 전송 창 -->
        <div class="room__input">
            <div class="room__input-wrap">
                <textarea class="room__text" placeholder="메시지를 입력하세요." cols="30" rows="1"></textarea>
                <button class="room__input-btn" type="button">
                    <img src="../images/icon/send-message.svg" alt="">
                </button>
            </div>

        </div>

    </section>



</body>
</html>