<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chat/chatList.css">
    <script src="../js/chat/chatList.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section id="message" class="message">
        <div class="message__header">
            <div class="message__title">
                <h2>메시지함</h2>
            </div>
        </div>


        <!-- tab 메뉴 영억 -->
        <div class="message__tabs">
            <button class="message__tab focus" type="button">메시지</button>
            <button class="message__tab " type="button">알림</button>
        </div>

        <!-- 컨텐츠 영역 -->
        <div class="message__list">
            <div class="message__wrap">

                <!-- 탭1 메시지 페이지 -->
                <div class="message__item ">
                    <div class="message__box">
                        <a class="message__chat-room"></a>
                        <div class="message__chat">
                            <div class="message__profile">
                                <img src="../images/profile-pic.jpg" alt="">
                            </div>
                            <div class="message__text">
                                <div class="message__user-name">
                                    <span>유저이름임 ㅋㅋ</span>
                                </div>
                                <div class="message__content">
                                    <span>알수가없음 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋzzzzzzzzzzwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwㅇㅂㅈddddddddddddddddddddddddddddddddddddddddㅇㅂㅈㅇㅂㅈㅇㅂㅈㅇㅂㅈㅇㅂㅈㅇㅂㅈㅈㅂㅇㅂㅈㅇㅂㅈㅇㅂㅈㅇㅈㅂㅇㅈㅂㅂㅈㅇ</span>
                                </div>
                                <div class="message__date">
                                    <span>2022년 10월 1일</span>
                                </div>
                            </div>
                            <div class="message__notification">
                                <p>8</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 탭2 알림 페이지 -->
                <div class="message__notice ">
                    <div class="message__notice-wrap">
                        <span>엄준식12세 님이 요청을 수락했습니다.</span>
                        <span>2023-05-12 17:30</span>
                    </div>

                </div>

                <!-- 아무 내용도 없다면 나오는 내용  -->
                <div class="message__empty ">
                    <div class="message__empty-title">
                        <span>메시지를 모두 읽으셨습니다.</span>
                    </div>
                    <div class="message__empty-text">
                        <span>여행이나 체험을 예약한 경우, 호스트가 보낸 메시지가 여기에 표시됩니다.</span>
                    </div>
                    <div class="message__empty-link">
                        <a href="">BeLocal 둘러보기</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>