<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chat/chatList.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="../js/chat/chatList.js" defer></script>
    <title>Document</title>
</head>
<body>
    <section id="message" class="message">
        <div class="message__header">
            <div class="message__title">
                <h2>메시지함</h2>
            </div>
        </div>

        <!-- tab 메뉴 영억 -->
        <div class="message__tabs">
            <button class="message__tab focus" type="button">메시지</button>
            <button class="message__tab" type="button">알림</button>
        </div>


        <!-- 컨텐츠 영역 -->
        <div class="message__list">
            <div class="message__wrap">
                <!-- 탭1 메시지 페이지 -->
                <div class="message__item hidden">
                    <div class="message__box" th:each="cl:${chatList}">
                        <a class="message__chat-room" th:href="@{/chat/room(id=${cl.id})}"></a>
                        <div class="message__chat">
                            <div class="message__profile">
                                <img src="../images/profile-pic.jpg" alt=""
                                     th:if="${#authentication.principal.id == cl.guideId}"
                                     th:src="@{'https://storage.googleapis.com/belocal-bucket/'+ ${cl.travelerUuid}}"
                                >
                                <img src="../images/profile-pic.jpg" alt=""
                                    th:if="${#authentication.principal.id == cl.travelerId}"
                                    th:src="@{'https://storage.googleapis.com/belocal-bucket/'+ ${cl.guideUuid}}"
                                >
                            </div>
                            <div class="message__text">
                                <div class="message__user-name">
                                    <span th:text="${#authentication.principal.id == cl.travelerId
                                    ? cl.guideNickname:cl.travelerNickname}"></span>
                                </div>

                                <div class="message__content" th:if="${cl.sender==91}">
                                    <div th:if="${#authentication.principal.id == cl.guideId}">
                                        <div th:text="${cl.travelerNickname + cl.message}"></div>
                                    </div>
                                    <div th:if="${#authentication.principal.id == cl.travelerId}">
                                        <div th:text="${cl.guideNickname + log.message}"></div>
                                    </div>
                                </div>

                                <div class="message__content" th:if="${cl.sender!=91}">
                                    <span th:text="${cl.message}"></span>
                                </div>

                                <div class="message__date">
                                    <span th:text="${cl.regDate}"></span>
                                </div>
                            </div>
                            <div class="message__notification" th:if="${cl.checkedCount > 0 and #authentication.principal.id != cl.sender}">
                                <p th:text="${cl.checkedCount}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 탭2 알림 페이지 -->
                <div class="message__notice data hidden" >
<!--                    <div class="message__notice-wrap">-->
<!--                        <span>엄준식12세님이 채팅요청을 거절했습니다.</span>-->
<!--                        <span>2023-05-12 17:30</span>-->
<!--                    </div>-->

<!--                    <div class="message__notice-wrap">-->
<!--                        <span>파카님이 채팅요청을 수락했습니다.</span>-->
<!--                        <span>2023-05-12 17:30</span>-->
<!--                    </div>-->

                    <div class="message__notice-wrap" th:each="nl:${noticeList}">
                        <span th:text="${nl.nickname + '님이 채팅을 신청하였습니다.'}"></span>
                        <div class="action-wrap"
                             th:data-chat-room-id="${nl.chatRoomId}"
                             th:data-sender-id="${nl.senderId}"
                        >
                            <button class="accept-btn">수락</button>
                            <button class="reject-btn">거절</button>
                        </div>
                    </div>

                </div>

                <!-- 아무 내용도 없다면 나오는 내용  -->
                <div class="message__empty hidden">
                    <div class="message__empty-title">
                        <span>메시지를 모두 읽으셨습니다.</span>
                    </div>
                    <div class="message__empty-text">
                        <span>여행이나 체험을 예약한 경우, 로컬이 보낸 메시지가 여기에 표시됩니다.</span>
                    </div>
                    <div class="message__empty-link">
                        <a href="theme리스트로 이동">BeLocal 둘러보기</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <div th:replace="inc/navbar"></div>
    <input class="member-id" type="hidden" th:value="${#authentication.principal.id}">
</body>
</html>