<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chat/chatroom.css">
    <script src="../js/chat/chatroom.js" defer></script>
    <title>Document</title>
</head>
<body>



<section class="room">
    <!-- 채팅방 이름 -->
    <div class="room__title">
        <button class="room__undo" type="button">
            <img src="../images/icon/navigate_before.svg" alt="">
        </button>
        <div class="room__detail">
            <div class="room__user-name">
                <span th:text="${info.nickname}"></span>
            </div>
            <div class="room__date">
<!--                <span>응답 시간 : </span>-->
            </div>
        </div>
        <button class="room__menu" type="button">
            <img src="../images/icon/more-vert.svg" alt="">
        </button>
    </div>
    <!-- 예약한 theme정보 -->
    <div class="room__theme">
        <div class="room__theme-Img">
            <img src="../images/location01.jpg">
        </div>
        <div class="room__theme-content">
            <h3>theme 제목이 들어갈 공간</h3>
            <p>theme 내용 설명이 들어갈 공간</p>
        </div>
        <button class="room__reservation" type="button">
            <span>일정 잡기</span>
        </button>
    </div>

    <!-- 모달창 영역 -->
    <div class="room__modal-bg hidden">
        <div class="room__nav hidden">
            <div class="room__nav-wrap">
                <button class="room__report-btn nav-btn " type="button">
                    <span>신고하기</span>
                </button>
                <button class="nav-btn" type="button">
                    <span>차단하기</span>
                </button>
                <button class="nav-btn exit" type="button">
                    <a href="/chat/list">나가기</a>
                </button>
            </div>
        </div>


        <div class="room__report hidden">
            <div class="room__report-title">
                <h2>신고하기</h2>
                <button class="room__report-close" type="button">
                    <img src="../images/icon/x.svg" alt="">
                </button>
            </div>
            <div class="room__report-wrap" required>
                <select class="room__report-list" name="" id="">
                    <option value="" disabled  selected>신고 종류 선택</option>
                    <option value="신고내용1">신고내용1</option>
                    <option value="신고내용1">신고내용2</option>
                    <option value="신고내용1">신고내용3</option>
                </select>
                <textarea class="room__report-content" placeholder="내용입력하셈" spellcheck="false"></textarea>
            </div>
            <div class="room__report-send">
                <button type="button">
                    <p>신고하기</p>
                </button>
            </div>
        </div>
    </div>

    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->



    <!-- 메시지 내역 -->
<!--    <div class="room__chat-wrap">-->
<!--        <div th:each="log:${chatLog}">-->
<!--            &lt;!&ndash; 상대가 보낸 메세지 &ndash;&gt;-->
<!--            <div class="room__item" th:if="${log.memberId != #authentication.principal.id}">-->
<!--                <button class="room__user-img" type="button">-->
<!--                    <img src="../images/profile-pic.jpg" alt="">-->
<!--                </button>-->
<!--                <div class="room__content">-->
<!--                    <p class="room__msg" th:text="${log.message}">상대방이 보낸 메세지</p>-->
<!--                    <span class="room__time" th:text="${log.regDate}">메세지 등록 시간</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 내가 보낸 메세지 &ndash;&gt;-->
<!--            <div class="room__item my-msg"  th:unless="${log.memberId == #authentication.principal.id}">-->
<!--                <div class="room__content">-->
<!--                    <p class="room__msg" th:text="${log.message}">내가 보낸 메세지</p>-->
<!--                    <span class="room__time" th:text="${log.regDate}">메세지 등록 시간</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--        <ul id="messageArea">-->
<!--            <div  th:each="log:${chatLog}">-->
<!--                <div th:text="${log.message}">테스트</div>-->
<!--            </div>-->
<!--        </ul>-->



    <div id="messageArea" class="room__chat-wrap">
        <div th:each="log:${chatLog}">
            <div  class="room__item" th:if="${#authentication.principal.id != log.memberId}">
                <button class="room__user-img" type="button">
                    <img src="/images/profile-pic.jpg" th:if="${#authentication.principal.id == log.guideId}"
                         th:src="@{'https://storage.googleapis.com/belocal-bucket/'+ ${log.travelerImg}}"
                         alt="travelerImg">
                    <img src="/images/profile-pic.jpg" th:if="${#authentication.principal.id == log.travelerId}"
                         th:src="@{'https://storage.googleapis.com/belocal-bucket/'+ ${log.guideImg}}"
                         alt="Guide Image">
                </button>
                <div class="room__content">
                    <p class="room__msg" th:text="${log.message}" >상대방이 보낸 메세지</p>
                    <span class="room__time" th:text="${log.regDate}" >메세지 등록 시간</span>
                </div>
            </div>

            <div class="room__item my-msg" th:if="${#authentication.principal.id == log.memberId}">
                <div class="room__content">
                    <span class="room__time" th:text="${log.regDate}">메세지 등록 시간</span>
                    <p class="room__msg" th:text="${log.message}">내가 보낸 메세지</p>
                </div>
            </div>
        </div>


        <form id="messageForm" name="messageForm" nameForm="messageForm" >
            <div class="room__input">
                <div class="room__input-wrap">
                    <textarea id="message" class="room__text" placeholder="메시지를 입력하세요." cols="30" rows="1"></textarea>
                    <button class="room__input-btn" type="submit">
                        <img src="../images/icon/send-message.svg" alt="">
                    </button>
                </div>
            </div>
        </form>
    </div>





<!--        <input type="text" id="message" class="form-control" >-->

</section>

<input type="hidden" name="chatRoomId" th:value="log.id">
<input class="member-id" type="hidden" name="id" th:value="${#authentication.principal.id}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</body>
</html>