<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/wishlists/wishlists.css">
  <link rel="stylesheet" href="./css/navbar.css">
  <script src="./js/navbar.js" defer></script>
</head>

<body>
  <header>
    <h1>Wishlists</h1>
  </header>

  <main>
    <section>
      <ul class="wishlist">
        <li>
          <a href="" class="wishlist__collection">
            <div class="wishlist__collection-description">
              <img src="./images/index-city.jpg" alt="" class="wishlist__collection-img">
              <span class="wishlist__collection-title">서대문구</span>
            </div>
            <img src="./images/icon/right-arrow.svg" alt="" class="wishlist_collection-btn">
          </a>
        </li>

        <li>
          <a href="" class="wishlist__collection">
            <div class="wishlist__collection-description">
              <img src="./images/index-city.jpg" alt="" class="wishlist__collection-img">
              <span class="wishlist__collection-title">종로구</span>
            </div>
            <img src="./images/icon/right-arrow.svg" alt="" class="wishlist_collection-btn">
          </a>
        </li>

        <li>
          <a href="" class="wishlist__collection">
            <div class="wishlist__collection-description">
              <img src="./images/index-city.jpg" alt="" class="wishlist__collection-img">
              <span class="wishlist__collection-title">용산구</span>
            </div>
            <img src="./images/icon/right-arrow.svg" alt="" class="wishlist_collection-btn">
          </a>
        </li>
      </ul>
    </section>
  </main>

  <!-- nav-bar -->
  <section>
    <nav class="navbar">
      <div class="navbar__list">
        <a href="./index.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/home.svg" alt="">
          </div>
          <div class="navbar__text">홈</div>
        </a>
        <a href="./wishlists.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/heart.svg" alt="">
          </div>
          <div class="navbar__text">찜목록</div>
        </a>
        <a href="./mylocation.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/location-pin.svg" alt="">
          </div>
          <div class="navbar__text">내위치</div>
        </a>
        <a href="./chat/chatlist.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/message.svg" alt="">
          </div>
          <div class="navbar__text">메시지</div>
        </a>
        <a href="./mypage.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/user.svg" alt="">
          </div>
          <div class="navbar__text">내정보</div>
        </a>
      </div>
    </nav>
  </section>
  <!-- nav-bar End-->
</body>

</html>