.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--section-padding);
    margin-bottom: var(--section-margin-bottom);
}

.category__title-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--title-contents-gap);
}

.category__title{
    font-size: var(--font-size-large18);
    font-weight: var(--font-weight-bold);
}

.category__link{
    font-size: var(--font-size-medium12);
    color: var(--color-text-gray);
}

/* 타이틀과 패딩 간격 맞추기 */
.category__items-box{
    display: grid;
    grid-template-columns: repeat(4, 76px);
    justify-content: space-between;
    gap: 14px;
}

.category__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 6px;
}

.category__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    width: 80px;
    height: 80px;
}

.category__img :first-child{
    font-size: 32px;
    color: var(--color-text-gray);
}

.category__text{
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-medium12);
    font-weight: var(--font-weight-regular);
}
