.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--section-padding);
}

.category__title-wrapper {
    margin-bottom: var(--title-contents-gap);
}

.category__title {
    font-size: var(--font-size-large18);
    font-weight: var(--font-weight-bold);
}

.category__item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    margin-bottom: var(--section-margin-bottom);
}

.category__item {
    width: 100%;
}

.category__item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.category__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 70px;
    height: 70px;
}

.category__icon {
    width: 40px;
    height: 40px;
}

.category__name {
    font-size: var(--font-size-medium12);
    font-weight: var(--font-weight-regular);
}

/*.category__img{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    box-shadow: var(--box-shadow)x33;*/
/*    border-radius: var(--border-radius);*/
/*    width: 60px;*/
/*    height: 60px;*/
/*}*/

/* .category-box :first-child{
    font-size: 30px;
    color: var(--color-text-gray);
} */
