<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/theme-register.css">
</head>

<body>
  <header>
    <div class="header__prev-button">
      <img src="./images/icon/left-arrow.svg">
    </div>

    <h1 class="header__title">테마 등록하기</h1>
  </header>

  <main>
    
  </main>
</body>

</html>