.find{
    display: flex;
    justify-content: center;
    align-items: center;
}


.find__container{
    max-width: 390px;
    /*padding-top: 52px;*/
    position: relative;
}

/*.find__header{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 1000;*/
/*}*/

.find__inner{
    display: flex;
    padding: 12px 10px;
    height: 64px;
    min-width: 390px;
    align-items: center;
    justify-content: space-between;
}

.find__inner img{
    width: 22px;
    height: 22px;
    filter: invert(46%) sepia(6%) saturate(6%) hue-rotate(343deg) brightness(96%) contrast(92%);

}

/* 아이디 찾기 영역 */
.find__content{
    padding: 0 10px;
}


.find__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0 80px;
    width: 100%;
    height: 100%;
}


/* 찾기 제목 */
.find__title{
    line-height: 36px;
    padding-bottom: 24px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--color-text-black);
    font-size: var(--font-size-large24);
    font-weight: var(--font-weight-bold);
}

/* 아이디찾기 알림내용 */
.find__notice{
    padding: 14px 0 39px;
}

.find__notice>p{
    font-size: 14px;
    letter-spacing: -.21px;
}

/* 휴대폰 번호 입력 영역 */

.find__input-box{
    position: relative;
    width: 100%;
    padding: 14px 52px
}

.find__input-box>h3{
    margin: 0;
    padding-bottom: 6px;    
    letter-spacing: -.07px;
    line-height: 18px;
    font-size: var(--font-size-medium14);
    font-weight:var(--font-weight-semibold) ;
    color: var(--color-text-black);
}

.find__input-item{
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--color-text-black);
    margin-bottom: 24px;
}

.find__input-item>input{
    padding: 12px 8px;
    width: 100%;
    font-size: var(--font-size-medium14);
}

/* 아이디 확인 버튼 */
.find__btn-box{
    position: relative;
    width: 100%;
    padding: 0 52px;
    text-align: center;
    
}



.find__btn-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.find__btn-item button{
    width: 100%;
    height: 100%;
    background-color: var(--color-point-blue);
    font-size: var(--font-size-medium14);
    color: var(--color-point-white);
}


/* 번호 입력후 나오는 화면 */
.find__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 52px;
    gap: 32px;
}

.find__info-title{
    font-size: var(--font-size-medium12);
}

.find__info-txt{
    padding-top: 12px;
    font-size: var(--font-size-large18);
    font-weight: var(--font-weight-semibold);
}


.find__btn-check{
    display: flex;
    text-align: center;
    gap: 8px;
}

.find__btn{
    padding: 0 10px;
    width: 130px;
    height: 42px;
    line-height: 42px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.find__btn:nth-child(2){
    font-weight: var(--font-weight-semibold);
    color: var(--color-point-white);
    background-color: var(--color-point-blue);
}


.hidden{
    display: none;
}