.login{
    max-width: 390px;
    height: 844px;
    margin: 0 auto;
    padding: 0 60px;
}

/* 뒤로가기 버튼 */
.login__undo{
    display: flex;
    width: 100%;
    height: 52px;
    padding: var(--section-padding);
    /* padding: var(--section-padding); */
}

.login__undo img{
    width: 22px;
    height: 22px;
    filter: invert(46%) sepia(6%) saturate(6%) hue-rotate(343deg) brightness(96%) contrast(92%);
}

/* logo 영역ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.login__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 84px;
    padding: var(--section-padding);
    margin-bottom: var(--section-margin-bottom);
}

.login__logo img{
    width: 34px;
    height: 46px;
}

.login__logo span{
    color: var(--color-point-blue);
    font-weight: var(--font-weight-bold);
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/





/* input 영역 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* id */
.login__id{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.login__id img{
    width: 18px;
    height: 100%;
}

.login__id-wrap{
    display: flex;
    width: 100%;
    height: 38px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: 0 8px;
    gap: 6px;
}

.login__input-id{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}


/* pwd */

.login__pw{
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
}

.login__pw img{
    width: 18px;
    height: 100%;
}

.login__pw-wrap{
    display: flex;
    width: 100%;
    height: 38px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    padding: 0 8px;
    gap: 6px;
}

.login__input-pw{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

/* login btn */

.login__btn-wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px
}

.login__btn{
    width: 100%;
    height: 40px;
    background-color: var(--color-point-blue);
    border-radius: var(--border-radius);
}

.login__btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-point-white);
}

.login__btn:nth-child(2){
    background-color: var(--color-point-white);
    border: 1px solid var(--color-point-blue);
}

.login__btn:nth-child(2) a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-point-blue);
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* login look ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.login__look{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 4px;
}

/* 자동로그인 부분 */
.login__checkbox{
    display: flex;
    gap: 4px;
    flex-grow: 2;
}

.login__checkbox span{
    font-size: var(--font-size-medium12);
}

.login__look a{
    font-size: var(--font-size-medium12);
}

.login__checkbox input{
    width: 12px;
    height: 12px;
}

/* 아이디 찾기 */

.login__look-id{
    display: flex;
    align-items: center;
}

/* 비밀번호 찾기 */

.login__look-pw{
    display: flex;
    align-items: center;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* sns 로그인 구분선 */
.login__line-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    padding: 12px 0;
    margin-bottom: var(--section-margin-bottom);
}

.login__line{
    width: 100%;
    border: 0.5px solid var(--color-text-lightgray);
}

.login__or{
    font-weight: var(--font-weight-bold);
    color: var(--color-text-gray);
}

/* sns 로그인 버튼 */
.login__social{
    display: flex;
    /* width: 240px; */
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.login__google{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    gap: 24px;
}

.login__social img{
    width: 18px;
}

.login__social span{
    color: #000000;
    font-size: 14px;
    font: Roboto-Medium;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.hidden{
    display: none;
}