@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* TODO 한글/영어 폰트지정 따로해야함 */
/* @font-face {
    font-family: 'Inter';
    src: url();
    unicode-range: ;
}
@font-face {
    font-family: ;
    src: url();
    unicode-range: ;
} */

:root {
    /*color*/
    --color-point-blue: #182CE3;
    --color-point-light-gray:#E4E4E4;
    --color-point-white:#FFFFFF;

    /*꾸미기*/
    --box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    --searchBox-shadow: 0px 8px 20px rgba(80, 97, 255, 0.1);
    --border-radius: 12px;

    /*문자색*/
    --color-text-black: #222222;
    --color-text-gray: #737373;
    --color-text-gray2 :#D1D1D1;
    --color-text-lightgray: #E4E4E4;

    /*font Family*/
    --font-family-eng: 'Inter', sans-serif;
    --font-family-kr: 'Noto Sans KR', sans-serif;

    /*Font Size*/
    --font-size-large32: 32px;
    --font-size-large18: 18px;
    --font-size-large16: 16px;
    --font-size-medium14: 14px;
    --font-size-medium12: 12px;
    --font-size-small10: 10px;

    /*Font Weight*/
    --font-weight-bold: 800;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --font-weight-light: 200;

    /*섹션 간격*/
    --section-margin-bottom: 50px;
    --section-padding: 0 10px;

    /* 섹션 내 간격 */
    --title-contents-gap: 12px;
}

/* Typography */
h1 {
    font-size: var(--font-size-large18);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-black);
    /* margin: 16px 0px; */
}

h2 {
    font-size: var(--font-size-medium14);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-black);
    /* margin: 8px 0; */
}

h3 {
    font-size: var(--font-size-medium12);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-gray);
    margin: 8px 0;
}

p {
    font-size: var(--font-size-small10);
    font-weight: var(--font-weight-light);
    color: var(--color-text-black);
    margin: 4px 0;
}

* { 
    box-sizing : border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-text-black);
}


input,
button {
    outline: none;
	border:none;
}

button {
    background-color: var(--color-point-white);
}


/* body {
    width: 100vw;
    height: 100vh;
} */

/* img {
    width: 100%;
}  */

/* main {
    width: 100%;
} */