<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/navbar.css">
  <link rel="stylesheet" href="./css/index/header.css">
  <link rel="stylesheet" href="./css/index/category.css">
  <link rel="stylesheet" href="./css/index/location.css">
  <link rel="stylesheet" href="./css/index/theme.css">
  <link rel="stylesheet" href="./css/index/posting.css">
  <link rel="stylesheet" href="./css/index/footer.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <script src="./js/index/location.js" defer></script>
  <title>BeLocal Main</title>

</head>

<body>
  <!-- TODO 1. 이미지 소스 정상적으로 수정 -->
  <!-- header -->
  <header>
    <div class="header__wrap">
      <div class="header__img">
        <img src="./images/index-city.jpg" alt="">
      </div>

      <div class="header__search">
        <img class="header__search-icon" src="./images/icon/search.svg" alt="">
        <button class="header__search-bar" type="button"><span>검색해보셈 ㅋ</span></button>
      </div>
    </div>
  </header>

  <main>
    <!-- category -->
    <section class="category">
      <div class="category__title-box">
        <h2 class="category__title">Category</h2>
        <a href="#" class="category__link">더보기 &gt;</a>
      </div>
      <div class="category__items-box">
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
        <a href="#" class="category__item">
          <div class="category__img">
            <img src="./images/icon/category.svg" alt="">
          </div>
          <span class="category__text">카테고리이름</span>
        </a>
      </div>
    </section>
    <!-- category End-->

    <!-- theme -->
    <!-- TODO 1. class명 bem 방식으로 수정 -->
    <!-- TODO 2. 전체 사이즈 재조정 (너무 크다고 생각 됨) -->
    <!-- TODO 3. text 일정 길이 이상이면 ...으로 변하게 수정 -->
    <!-- TODO 4. 하단 border 안 나오는 오류 수정 -->
    <section class="theme">
      <div class="theme__title-box">
        <h2 class="theme__title">Theme</h2>
        <a href="#" class="theme__link">더보기 &gt;</a>
      </div>
      <!-- 바로 위 섹션과의 간격 밑 title-box와 container와의 간격 조절 해야됨 -->
      <!-- profile-text-contents-area 영역 내 문장이 밑의 예약가능 부분과 겹쳐짐
      그래서 그에 따라 크기가 커지거나 문장의 길이 일정 수준 이상이면 ...으로 생략할 예정 -->
      <div class="theme__container">
        <!-------------- theme module start -------------->
        <div class="theme-box-area">
          <div class="theme-box-pic-area">
            <img src="/images/index-city.jpg" alt="">
          </div><!--theme-box-pic-area-->

          <div class="profile-outter-box">
            <div class="profile-pic-id-outter">
              <div class="profile-pic">

                <img src="/images/profile-pic.jpg" alt="">
              </div><!--profile-pic-->
              <div class="profile-id-text">
                innerjoin123
              </div><!--profile-id-text-->
            </div><!--profile-pic-id-->

            <div class="profile-text-area-outter">
              <div class="profile-text-title-area">
                <h2>을지로 노포 싹다 투어</h2>
              </div><!--profile-text-title-area-->

              <div class="profile-text-contents-area">
                <p>을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구 저쩌구
                  어쩌구 어쩌구 저쩌구 믿거나 말거나
                  을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                  ㅁㅇㄴㄻㄴㅇㄻ
                  ㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ\어쩌구 저쩌구 믿거나 말거나
                  을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                  ㅁㅇㄴㄻㄴㅇㄻ
                  ㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                </p>
              </div><!--profile-text-contents-area-->


              <div class="profile-status-area">
                <!-- <span class="status-icon"> -->
                  <!-- <img src="/images/icon/reservation-ok.svg" alt=""> -->
                    <i class="material-icons">event_available</i>
                <!-- </span>status-icon -->

                <div class="status-text">예약가능</div>

              </div><!--profile-status-area-->
            </div><!--profile-text-area-outter-->
          </div><!--profile-outter-box-->
        </div><!--theme-box-area-->
        <!-------------- theme module end -------------->

        <!-------------- theme module start -------------->
        <div class="theme-box-area">
          <div class="theme-box-pic-area">
            <img src="/images/index-city.jpg" alt="">
          </div><!--theme-box-pic-area-->

          <div class="profile-outter-box">
            <div class="profile-pic-id-outter">
              <div class="profile-pic">

                <img src="/images/profile-pic.jpg" alt="">
              </div><!--profile-pic-->
              <div class="profile-id-text">
                innerjoin123
              </div><!--profile-id-text-->
            </div><!--profile-pic-id-->

            <div class="profile-text-area-outter">
              <div class="profile-text-title-area">
                <h2>을지로 노포 싹다 투어</h2>
              </div><!--profile-text-title-area-->

              <div class="profile-text-contents-area">
                <p>을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구 저쩌구
                  어쩌구 어쩌구 저쩌구 믿거나 말거나
                  을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                  ㅁㅇㄴㄻㄴㅇㄻ
                  ㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ\어쩌구 저쩌구 믿거나 말거나
                  을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                  ㅁㅇㄴㄻㄴㅇㄻ
                  ㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                  ㅁㄴㅇㄻㄴㅇㄹ
                </p>
              </div><!--profile-text-contents-area-->


              <div class="profile-status-area">
                    <i class="material-icons">event_available</i>
                <div class="status-text">예약가능</div>

              </div><!--profile-status-area-->
            </div><!--profile-text-area-outter-->
          </div><!--profile-outter-box-->
        </div><!--theme-box-area-->
        <!-------------- theme module end -------------->

        

      </div><!--theme-container-->
    </section>
    <!-- theme End -->


    <!-- location -->
    <!-- TODO 1. draggable image slider로 수정 -->
    <!-- TODO 2. 이미지 어둡게 하고 그 위에 정보 나타내기 -->
    <!-- TODO 3. 메인 색상 활용 -->
    <section class="location">
      <div class="location__title">
        <h1>location</h1>
        <a href="">더보기></a>
      </div>

      <div class="location__slider">
        <div class="location__images">
          <div class="location__image">
            <img src="./images/location01.jpg" alt="">
          </div>
          <div class="location__image">
            <img src="./images/location02.jpg" alt="">
          </div>
          <div class="location__image">
            <img src="./images/location03.jpg" alt="">
          </div>
          <div class="location__image">
            <img src="./images/location04.jpg" alt="">
          </div>
          <div class="location__image">
            <img src="./images/location05.jpg" alt="">
          </div>
        </div>

        <div class="location__nav-buttons">
          <div class="location__prev-button">
            <img src="./images/icon/left-arrow.svg">
          </div>
          <div class="location__next-button">
            <img src="./images/icon/right-arrow.svg">
          </div>
        </div>
        <div class="location__nav-dots">
          <span class="location__dot active"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
          <span class="location__dot"></span>
        </div>
      </div>
    </section>
    <!-- location End -->

    <!-- posting -->
    <!-- TODO 1. Theme처럼 카드 좌측에 붙여놓을지 아니면 간격 둘지 결정하기 -->
    <section class="posting">
      <!-- posting 제목 영역 -->
      <div class="posting__title-box">
        <div class="posting__title">Posting</div>
        <a href="#" class="posting__link">더보기 ></a>
      </div>

      <!-- 글 영역 -->
      <div class="posting__container">
        <a href="" class="posting__feed">
          <div class="posting__img">
            <img src="./images/index-city.jpg" alt="">
          </div>
          <div class="posting__detail">
            <div class="posting__profile">
              <div class="posting__profile-img">
                <img src="./images/profile-pic.jpg" alt="">
              </div>
              <p class="posting__user-name">
                irones_ignore
              </p>
            </div>
            <div class="posting__content">
              <h3>이것은 제목입니다 ㅎㅎ</h3>
              <p>이것은 내용입니다
                Sit sanctus erat lorem erat voluptua ea dolore at rebum. Sadipscing no vero nonumy eirmod voluptua sed
                nonumy sadipscing amet..
              </p>
              <div class="posting__like">
                <div class="posting__like-btn" type="button">
                  <img class="posting__like off" src="./images/icon/heart.svg" alt="">
                  <span class="posting__like-count">9996</span>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="" class="posting__feed">
          <div class="posting__img">
            <img src="./images/index-city.jpg" alt="">
          </div>
          <div class="posting__detail">
            <div class="posting__profile">
              <div class="posting__profile-img">
                <img src="./images/profile-pic.jpg" alt="">
              </div>
              <p class="posting__user-name">
                irones_ignore
              </p>
            </div>
            <div class="posting__content">
              <h3>이것은 제목입니다ㅋㅋㅋ</h3>
              <p>이것은 내용입니다
                Sit sanctus erat lorem erat voluptua ea dolore at rebum. Sadipscing no vero nonumy eirmod voluptua sedLorem nonumy amet gubergren clita duo at sea. Ut rebum no duo sed est et sadipscing et. Erat tempor labore.
                nonumy sadipscing amet
              </p>
              <div class="posting__like">
                <div class="posting__like-btn" type="button">
                  <img class="posting__like off" src="./images/icon/heart.svg" alt="">
                  <span class="posting__like-count">9996</span>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="" class="posting__feed">
          <div class="posting__img">
            <img src="./images/index-city.jpg" alt="">
          </div>
          <div class="posting__detail">
            <div class="posting__profile">
              <div class="posting__profile-img">
                <img src="./images/profile-pic.jpg" alt="">
              </div>
              <p class="posting__user-name">
                irones_ignore
              </p>
            </div>
            <div class="posting__content">
              <h3>이것은 제목입니다ㅋㅋㅋ</h3>
              <p>이것은 내용입니다
                Sit sanctus erat lorem erat voluptua ea dolore at rebum. Sadipscing no vero nonumy eirmod voluptua sedLorem nonumy amet gubergren clita duo at sea. Ut rebum no duo sed est et sadipscing et. Erat tempor labore.
                nonumy sadipscing amet
              </p>
              <div class="posting__like">
                <div class="posting__like-btn" type="button">
                  <img class="posting__like off" src="./images/icon/heart.svg" alt="">
                  <span class="posting__like-count">9996</span>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="" class="posting__feed">
          <div class="posting__img">
            <img src="./images/index-city.jpg" alt="">
          </div>
          <div class="posting__detail">
            <div class="posting__profile">
              <div class="posting__profile-img">
                <img src="./images/profile-pic.jpg" alt="">
              </div>
              <p class="posting__user-name">
                irones_ignore
              </p>
            </div>
            <div class="posting__content">
              <h3>이것은 제목입니다ㅋㅋㅋ</h3>
              <p>이것은 내용입니다
                Sit sanctus erat lorem erat voluptua ea dolore at rebum. Sadipscing no vero nonumy eirmod voluptua sedLorem nonumy amet gubergren clita duo at sea. Ut rebum no duo sed est et sadipscing et. Erat tempor labore.
                nonumy sadipscing amet
              </p>
              <div class="posting__like">
                <div class="posting__like-btn" type="button">
                  <img class="posting__like off" src="./images/icon/heart.svg" alt="">
                  <span class="posting__like-count">9996</span>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="" class="posting__feed">
          <div class="posting__img">
            <img src="./images/index-city.jpg" alt="">
          </div>
          <div class="posting__detail">
            <div class="posting__profile">
              <div class="posting__profile-img">
                <img src="./images/profile-pic.jpg" alt="">
              </div>
              <p class="posting__user-name">
                irones_ignore
              </p>
            </div>
            <div class="posting__content">
              <h3>이것은 제목입니다ㅋㅋㅋ</h3>
              <p>이것은 내용입니다
                Sit sanctus erat lorem erat voluptua ea dolore at rebum. Sadipscing no vero nonumy eirmod voluptua sedLorem nonumy amet gubergren clita duo at sea. Ut rebum no duo sed est et sadipscing et. Erat tempor labore.
                nonumy sadipscing amet
              </p>
              <div class="posting__like">
                <div class="posting__like-btn" type="button">
                  <img class="posting__like off" src="./images/icon/heart.svg" alt="">
                  <span class="posting__like-count">9996</span>
                </div>
              </div>
            </div>
          </div>
        </a>


      </div>
    </section>
    <!-- posting End-->
  </main>

  <!-- footer -->
  <footer class="footer">
    <div class="footer__text">
      <h3>1588-1588</h3>
      <p>durdlerain@gamil.com</p>
    </div>

    <div class="footer__menu">
      <div class="footer__items">
        <a href="#">이용약관</a>
      </div>
      <div class="footer__items">
        <a href="#">고객센터</a>
      </div>
      <div class="footer__items">
        <a href="#">안전정책</a>
      </div>
      <div class="footer__items items-color">
        <a href="#">BeLocal<br />소개</a>
      </div>
    </div>

    <div class="footer__content">
      <div class="footer__list">
        <a href="#">개인정보처리방침</a>
        <a href="#">위치기반 서비스 이용약관</a>
        <a href="#">사업자 정보확인</a>
        <a href="#">회사 세부정보</a>
      </div>
      <div class="footer__text">
        <span>
          (주)브레이브모바일은 통신판매중개자로서 통신판매의 당사자가 아니며 개별 판매자가 제공하는 서비스에 대한 이행, 계약사항 등과 관련한 의무와 책임은 거래당사자에게 있습니다.
        </span>
      </div>
      <ul class="footer__guide">
        <li class="footer__text">
          상호명:(주)브레이브모바일 · 대표이사:KIM ROBIN H · 개인정보책임관리자:김태우 · 주소:서울특별시 강남구 테헤란로 415, L7 강남타워 5층
        </li>
        <li class="footer__text">
          사업자등록번호:120-88-22325 · 통신판매업신고증:제 2021-서울강남-00551 호 · 직업정보제공사업 신고번호:서울청 제 2019-21호
        </li>
        <li class="footer__text">
          고객센터:1599-5319 · 이메일:support@soomgo.com
        </li>
        <li class="footer__text">
          Copyright ©Brave Mobile Inc. All Rights Reserved.
        </li>
      </ul>
    </div>
  </footer>
  <!-- footer End-->

  <!-- nav-bar -->
  <section>
    <nav class="navbar">
      <div class="navbar__list">
        <a href="#" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/home.svg" alt="">
          </div>
          <div class="navbar__text">홈</div>
        </a>
        <a href="./wishlists.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/heart.svg" alt="">
          </div>
          <div class="navbar__text">찜목록</div>
        </a>
        <a href="./mylocation.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/location-pin.svg" alt="">
          </div>
          <div class="navbar__text">내위치</div>
        </a>
        <a href="./chat/chatlist.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/message.svg" alt="">
          </div>
          <div class="navbar__text">메시지</div>
        </a>
        <a href="./mypage.html" type="button" class="navbar__btn">
          <div>
            <img src="./images/icon/user.svg" alt="">
          </div>
          <div class="navbar__text">내정보</div>
        </a>
      </div>
    </nav>
  </section>
  <!-- nav-bar End-->
</body>

</html>