<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login/login.css">
    <title>Document</title>
</head>
<body>
    <!-- 뒤로가기 버튼 -->
    <div class="login__undo">
        <button>
            <img src="./images/icon/left-arrow.svg" alt="">
        </button>
    </div>
    
    <div class="login">

        <!-- 로고 -->
        <div class="login__logo">
            <img src="./images/logo-beLocal.svg" alt="">
            <span>BeLocal</span>
        </div>

        <!-- input 창 -->
        <div class="login__id">
            <div class="login__id-wrap">
                <img src="./images/icon/login-id.svg" alt="">
                <input class="login__input-id" type="email" placeholder="예)BeLocal@belocal.co.kr" autocomplete="off">
                <button class="hidden" type="button">
                    <img src="" alt="">
                </button>
            </div>
        </div>
        <div class="login__pw">
            <div class="login__pw-wrap">
                <img src="./images/icon/login-pwd.svg" alt="">
                <input class="login__input-pw" type="password" placeholder="비밀번호는 8~16자 영문,숫자,특수기호" autocomplete="off">
            </div>
        </div>



        <!-- 로그인/회원가입 버튼 -->
        <div class="login__btn-wrap">
            <div class="login__btn">
                <a href="">sign in</a>
            </div>
            <div class="login__btn">
                <a href="#">sign up</a>
            </div>
        </div>


        <!-- 계정 정보 관련 -->
        <div class="login__look">
            <div class="login__checkbox">
                <input type="checkbox" name="" id="">
                <span>자동로그인</span>
            </div>
            <div class="login__look-id">
                <a href="#">아이디 찾기</a>
            </div>
            <div class="login__look-pw">
                <a href="#">비밀번호 찾기</a>
            </div>
        </div>

        
        <!-- sns 로그인 구분선 -->
        <div class="login__line-wrap">
            <div class="login__line"></div>
            <div class="login__or">or</div>
            <div class="login__line"></div>
        </div>
        

        <!-- 구글 로그인 버튼 -->
        <div class="login__social">
            <button class="login__google">
                <img src="./images/icon/google-btn.svg" alt="">
                <span>Sign in with Google</span>
            </button>
        </div>



    </div>


</body>
</html>