<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/member-profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="js/member-profile.js" defer></script>

    <title>user-profile</title>
</head>
<body>


<!--============== user-profile 상단 영역 ===================-->
<section class="user-profile__container">
    <div class="user-profile__profile-zone">

        <div class="user-profile__profile-pic">
<!--            <img th:text="${memberProfile.uuid}" src="/images/profile-pic.jpg" alt="">-->
        </div>


        <div class="user-profile--text--container">

            <div class="user-profile__first--text--line">
                <div class="user-profile__id">
                    <h1 th:text="${memberProfile.nickname}">InnerJoin123</h1>
                </div>

                <div class="user-profile__icon-local">
                    <i class="material-symbols-outlined">
                        star
                    </i>
                    <p th:text="${role.roleTypeId}">local</p>
                </div>

                <button class="user-profile__button" type="button">
                    <p>follow</p>
                </button>
                <br>
            </div>

            <div class="user-profile__email">
                <p th:text="${memberProfile.userId}">durldlerain@gmail.com</p>
            </div>

        </div>
    </div>


    <div class="user-profile__themes-post-followers--container">
        <p>40 themes</p>
        <p>68 post</p>
        <p>40 followers</p>
    </div>

    <div class="hr--container">
        <hr class="hr-solid">
    </div>


    <div class="user-profile--comment--container">
<!--        <p th:text="${memberProfile.selfIntroduction}">"서울의 구석구석 같이해요"</p>-->
    </div>

</section>


<!--============== user-profile theme / post 상태 변경 영역 ===================-->
<section class="user-profile--status">

    <div class="tabs-wrapper">

        <ul class="nav-tabs">
            <li class="tab is-active" data-target="#tab-theme">theme</li>
            <li class="tab" data-target="#tab-post">post</li>
        </ul>




        <div class="tab-content">

            <div class="tab-panel is-active" id="tab-theme">
                <!-- <h1>theme</h1>
                <p>asdkljsladfkalsdjflaksdfjdslfjdsklfjdslkfajdlksjfalskdfj</p> -->


                <!-------------- theme module start -------------->


        <section class="themeList-section">
            <div class="theme-list">

                <section class="theme" th:each="t:${travelThemeList}">
                    <div class="theme-box-area">
                            <div class="theme-box-pic-area">
                                <img th:src="${t.path}" src="/images/index-city.jpg" alt="">
                            </div>
                        <div class="profile-outter-box">
                                    <div class="profile-pic-id-outter">
                                        <div class="profile-pic">


                                            <img th:src="@{https://storage.googleapis.com/belocal-bucket/{uuid}(uuid=${t.uuid})}" src="/images/profile-pic.jpg" alt="">
                                        </div>
                                        <div class="profile-id-text" th:text="${t.nickname}">
                                            innerjoin123
                                        </div>
                                    </div>
                            <div class="profile-text-area-outter">
                                    <div class="profile-text-title-area">
                                        <p th:text="${t.title}">을지로 노포 싹다 투어</p>
                                    </div>
                                    <div class="profile-text-contents-area">
                                        <p th:text="${t.description}">
                                            을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구 저쩌구
                                            어쩌구 어쩌구 저쩌구 믿거나 말거나
                                            을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                                        </p>
                                    </div>
                                    <div class="profile-status-area">
                                        <div th:if="${t.isReserved}">
                                            <span class="material-symbols-outlined">
                                                event_available
                                            </span>
                                        </div>

                                        <div th:if="!${t.isReserved}">
                                            <span class="material-symbols-outlined">
                                                event_busy
                                            </span>
                                        </div>

                                        <div th:if="${t.isReserved}">예약가능</div>
                                        <div th:if="!${t.isReserved}">예약중</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </section>

            <!-- theme End -->












            </div>

            <div class="tab-panel" id="tab-post">
                <h1>post</h1>
                <p>서비스 준비중 입니다.</p>
            </div>

        </div>




    </div>


</section>








</body>
</html>