<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/navbar.js" defer></script>
</head>
<body>
    <h1>My location</h1>

    <!-- nav-bar -->
    <section class="nav-bar">
        <nav class="nav-bar__container">
          <div class="nav-bar__btn-list">
            <a href="./index.html" type="button" class="nav-bar__btn">
              <div>
                <img src="images/icon _home_.svg" alt="">
              </div>
              <div class="nav-bar__text">홈</div>
            </a>
            <a href="./wishlists.html" type="button" class="nav-bar__btn">
              <div>
                <img src="images/icon _heart_.svg" alt="">
              </div>
              <div class="nav-bar__text">찜목록</div>
            </a>
            <a href="./mylocation.html" type="button" class="nav-bar__btn">
              <div>
                <img src="images/icon _pin alt_.svg" alt="">
              </div>
              <div class="nav-bar__text">내위치</div>
            </a>
            <a href="./chatlist.html" type="button" class="nav-bar__btn">
              <div>
                <img src="images/icon _message_.svg" alt="">
              </div>
              <div class="nav-bar__text">메시지</div>
            </a>
            <a href="./profile.html" type="button" class="nav-bar__btn">
              <div>
                <img src="images/icon _user_.svg" alt="">
              </div>
              <div class="nav-bar__text">내정보</div>
            </a>
          </div>
        </nav>
      </section>
      <!-- nav-bar End-->
</body>
</html>