<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search/search-modal.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>search-modal</title>
</head>
<body>
<button id="open">open modal</button>
    <div class="search-modal hidden">
        <div class="search-modal-overlay">
            <div class="search-modal-content">
            <!--============ header =====================-->
                <header>
                    <div class="search">
                        <div class="search__container ">
                          <input class="search-bar" type="button" value="을지로 노포, 망원동 카페" />
                            <!-- <img class="search-icon" src="/images/icon/search.svg" alt="" /> -->
                            <span class="material-symbols-outlined">
                              search
                              </span>
                                <button id="exit">취소</button>
                             </input><!--search-bar-->
                        </div><!--search__container -->


                        <hr class="hr-solid">
                    </div><!--search-area-->
                </header>

  <!--============ main =====================-->
            <div class="recommand__keyword">
                <div class="recommand__keyword--title--container">
                <h1>추천 검색어</h1>
                </div><!--recommand__keyword--title--container-->

                <div class="recommand__keywords--container">
                <div class="recommand__keyword--container1">
                    
                    <button class="recommand__keyword--btn">
                        <p>을지로 노포</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>용산 카페</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>종로 맛집</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>강남구 축제</p>
                    </button><!--recommand__keyword--btn-->

                </div><!--recommand__keyword--container1-->


                <div class="recommand__keyword--container2">
                    
                    <button class="recommand__keyword--btn">
                        <p>신촌 대학교 축제</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>루프탑 바</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>성수 갈비 골목</p>
                    </button><!--recommand__keyword--btn-->

                    <button class="recommand__keyword--btn">
                        <p>녹사평 펍</p>
                    </button><!--recommand__keyword--btn-->

                </div><!--recommand__keyword--container2-->
            </div><!--recommand__keywords--container-->

            </div><!--recommand__keyword--------------------------------->



            <div class="hot__keyword">
                <div class="hot__keyword--category--container">
                    <h1>인기 검색어</h1>
                    <div id="clock">기준</div>                
                </div><!--hot__keyword--category--container-->

                <div class="hot__keyword--list--container">
                    <div class="hot__keyword--list">
                        <ol class="hot__keyword--list--ol">
                            <div>
                            <li>성수동</li>
                            <li>용산 공원</li>
                            <li>만선호프</li>
                            <li>신촌 축제</li>
                            <li>샤로수길</li>
                            </div>

                            <div>
                            <li>성수동</li>
                            <li>용산 공원</li>
                            <li>만선호프</li>
                            <li>신촌 축제</li>
                            <li>샤로수길</li>
                            </div>
                        </ol>
                    </div><!--hot__keyword--list1-->

                    </div><!--hot__keyword--category--container-->
                </div><!--hot__keyword--list--container-->
            </div><!--hot__keyword------------------------------->







              


<!--============ footer =====================-->
                <footer>

                </footer>

            </div><!--search-modal-content-->
        </div><!--search-modal-overlay-->
    </div><!--search-modal-->

    <script>

//------------- modal 창 ------------------------------------------
        const openButton = document.getElementById("open");
        const modal = document.querySelector(".search-modal");
        const overlay = modal.querySelector(".search-modal-overlay");
        const closeBtn = modal.querySelector("button");

        const openModal = () => {
            modal.classList.remove("hidden");
        }
        const closeModal = () => {
            modal.classList.add("hidden");
        }

        // overlay.addEventListener("click", closeModal);
        closeBtn.addEventListener("click", closeModal);
        openButton.addEventListener("click", openModal);


//------------ 시간 표시(연습해봄) -------------------------
        function updateTime() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();

            var timeString = hours + ":" + minutes + ":" + seconds;
            document.getElementById("clock").textContent = timeString;
        }

        setInterval(updateTime, 1000);
        
    </script>
</body>
</html>