<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{inc/layout}"
>
</head>
<body>


<!--============== user-profile 상단 영역 ===================-->
<section class="user-profile__container">
    <div class="user-profile__profile-zone">

            <div class="user-profile__profile-pic">
                <img src="/images/profile-pic.jpg" alt="">
            </div>


        <div class="user-profile--text--container">

            <div class="user-profile__first--text--line">
                    <div class="user-profile__id">
                        <h1>InnerJoin123</h1>
                    </div>

                    <div class="user-profile__icon-local">
                        <i class="material-symbols-outlined">
                            star
                        </i>
                        <p>local</p>
                    </div>

                    <button class="user-profile__button" type="button">
                        <p>follow</p>
                    </button>
                    <br>
            </div>

            <div class="user-profile__email">
                <p>durldlerain@gmail.com</p>
            </div>

        </div>
    </div>


    <div class="user-profile__themes-post-followers--container">
        <p>40 themes</p>
        <p>68 post</p>
        <p>40 followers</p>
    </div>
    
    <div class="hr--container">
        <hr class="hr-solid">
    </div>  


    <div class="user-profile--comment--container">
        <p>"서울의 구석구석 같이해요"</p>
    </div>

</section>


<!--============== user-profile theme / post 상태 변경 영역 ===================-->
<section class="user-profile--status">

    <div class="tabs-wrapper">

        <ul class="nav-tabs">
            <li class="tab is-active" data-target="#tab-theme">theme</li>
            <li class="tab" data-target="#tab-post">post</li>
        </ul>




        <div class="tab-content">

            <div class="tab-panel is-active" id="tab-theme">
                <!-- <h1>theme</h1>
                <p>asdkljsladfkalsdjflaksdfjdslfjdsklfjdslkfajdlksjfalskdfj</p> -->



                <section class="theme" th:each="t : ${list}">
                    <div class="theme__container">
                      <!-------------- theme module start -------------->
                      <div class="theme-box-area">
                        <div class="theme-box-pic-area">
                          <img src="/images/index-city.jpg" alt="">
                        </div><!--theme-box-pic-area-->
              
                        <div class="profile-outter-box">
                          <div class="profile-pic-id-outter">
                            <div class="profile-pic">
              
                              <img src="/images/profile-pic.jpg" alt="">
                            </div><!--profile-pic-->
                            <div class="profile-id-text" th:text="${t.nickname}">
<!--                              innerjoin123-->
                            </div><!--profile-id-text-->
                          </div><!--profile-pic-id-->
              
                          <div class="profile-text-area-outter">
                            <div class="profile-text-title-area">
                              <h2 th:text="title">을지로 노포 싹다 투어</h2>
                            </div><!--profile-text-title-area-->
              
                            <div class="profile-text-contents-area">
                              <p th:text="${description}">
                              을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구 저쩌구
                                어쩌구 어쩌구 저쩌구 믿거나 말거나
                                을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                                ㅁㅇㄴㄻㄴㅇㄻ
                                ㄴㅇㄹ
                                ㅁㄴㅇㄻㄴㅇㄹ\어쩌구 저쩌구 믿거나 말거나
                                을지로에서 즐기는 어쩌구 저쩌구 뭐 어쩌구
                                ㅁㅇㄴㄻㄴㅇㄻ
                                ㄴㅇㄹ
                                ㅁㄴㅇㄻㄴㅇㄹ
                                ㅁㄴㅇㄻㄴㅇㄹ
                                ㅁㄴㅇㄻㄴㅇㄹ
                              </p>
                            </div><!--profile-text-contents-area-->
              
              
                            <div class="profile-status-area">
                                  <!-- <i class="material-icons">event_available</i> -->
                                  <span class="material-symbols-outlined">
                                    event_available
                                  </span>
              
                              <div class="status-text">예약가능</div>
              
                            </div><!--profile-status-area-->
                          </div><!--profile-text-area-outter-->
                        </div><!--profile-outter-box-->
                      </div><!--theme-box-area-->
                      <!-------------- theme module end -------------->
              


              
                    </div><!--theme-container-->
                  </section>
                  <!-- theme End -->



            </div> 

            <div class="tab-panel" id="tab-post">
                <h1>post</h1>
                <p>서비스 준비중 입니다.</p>
            </div> 

        </div>




    </div>


</section>







    
</body>
</html>