<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/my-page/profile-edit.css">
    <title>Document</title>
</head>
<body>
    <div class="edit__container">
        <!-- 뒤로가기 버튼 -->
        <div class="edit__header">
            <div class="edit__inner">
                <h1 class="edit__title">프로필 관리</h1>
                <button class="edit__undo" type="button">
                    <img src="../images/icon/left-arrow.svg" alt="">
                </button>
            </div>
        </div>
        <!-- edit 영역 -->
        <div class="edit__wrap">
            <input type="file" accept="image/jpeg,image/png" hidden="hidden">
            <!-- 프로필 이미지 영역 -->
            <div class="edit__profile">
                <div class="edit__img">
                    <img src="../images/profile-pic.jpg" alt="">
                </div>
                <div class="edit__detail">
                    <div class="edit__name">
                        <span>wwwwwwwww</span>
                    </div>
                    <div class="edit__btn-box">
                        <button class="edit__btn" type="button">이미지 변경</button>
                        <button class="edit__btn" type="button">삭제</button>
                    </div>
                </div>
            </div>

            <div class="edit__info">
                <div class="edit__info-box">
                    <h4>프로필 정보</h4>

                    <!-- 닉네임 변경 -->
                    <div class="edit__unit">
                        <div class="edit__input-box">
                            <h5>닉네임</h5>
                            <div class="edit__input-item">
                                <input type="text" maxlength='12' placeholder="현재 닉네임 표시">
                            </div>
                            <p class="edit__error">이미 존재하는 닉네임 입니다.</p>
                        </div>
                    </div>

                    <!-- 비밀번호 변경 -->
                    <div class="edit__unit">
                        <div class="edit__input-box">
                            <h5>현재 비밀번호</h5>
                            <div class="edit__input-item">
                                <input type="password" placeholder="비밀번호">
                            </div>
                            <p class="edit__error">비밀번호가 일치하지 않습니다.</p>
                        </div>

                        <div class="edit__input-box">
                            <h5>새 비밀번호</h5>
                            <div class="edit__input-item">
                                <input type="password" placeholder="비밀번호">
                            </div>
                        </div>

                        <div class="edit__input-box">
                            <h5>새 비밀번호 확인</h5>
                            <div class="edit__input-item">
                                <input type="password" placeholder="비밀번호">
                            </div>
                            <p class="edit__error">비밀번호가 일치하지 않습니다.</p>
                        </div>
                    </div>

                    <!-- 번호변경 -->
                    <div class="edit__unit">
                        <h5>휴대폰 번호</h5>
                        <select class="edit__input-item" name="" id="">
                            <option value="대한민국">대한민국+82</option>
                            <option value="미국">미국+1</option>
                            <option value="일본">일본+81</option>
                        </select>
                        <div class="edit__Auth">
                            <input class="edit__input-item item1" type="tel" placeholder="전화번호를 입력해 주세요">
                            <input class="edit__input-item item2" type="button" value="인증번호 받기">
                        </div>
                        <p class="edit__error">올바른 번호 11자리를 입력해 주세요</p>
                        <div class="edit__input-item">
                            <input type="tel" placeholder="인증번호를 입력해 주세요">
                        </div>
                    </div>
                </div>
            </div>

            <div class="edit__save">
                <button type="submit">
                    <span>저장</span>
                </button>
            </div>


            <div class="edit__withdrawal">
                <button type="submit">
                    <span>회원탈퇴</span>
                </button>
            </div>


        </div>
    </div>
</body>
</html>