<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/theme-register.css">
</head>

<body>
  <header>
    <div class="header__prev-button">
      <img src="/images/icon/left-arrow.svg">
    </div>

    <h1 class="header__title">테마 등록하기</h1>
  </header>

  <main>
    <section class="registration-instruction">
      <h1 class="registration-instruction__title">테마를 구성하는 장소들을 등록해보세요</h1>
      <p>멋진 사진으로 장소를 더욱 흥미롭게 만들 수 있어요!</p>
    </section>

    <section class="place-registration">
      <p>장소는 2개 이상 등록해주세요</p>
      <ul>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </section>
  </main>
</body>

</html>