<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.belocal.web.repository.ChatRepository">


    <!--채팅 로그 조회-->
    <select id="chatLogFindAll" resultType="ChatLogListView">
        SELECT * FROM chat_log_list_view
        WHERE id = #{id} ORDER BY reg_date ASC ;
    </select>


    <!--채팅로그 추가-->
    <insert id="addLog" parameterType="ChatLog">
        INSERT INTO chat_log
        (
            chat_room_id,
            member_id,
            message
        )
        VALUES
        (
            #{chatRoomId},
            #{memberId},
            #{message}
        )
    </insert>

    <!--채팅 읽음 처리-->
    <update id="chatUpdate" parameterType="ChatLog">
        UPDATE chat_log
            <set>
                <if test="isChecked != null">is_checked = #{isChecked}</if>
            </set>
        WHERE member_id = #{memberId} AND chat_room_id = #{chatRoomId}
    </update>


</mapper>