<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.belocal.web.repository.TravelThemeRepository">




    <select id="findById" resultType="kr.co.belocal.web.entity.TravelTheme">
        SELECT *
        FROM travel_theme
        WHERE id = #{id};
    </select>


    <!-- ====== member-profile 페이지용 =========== -->
    <select id="findAll" resultType="kr.co.belocal.web.entity.TravelThemeView">
        SELECT *
        FROM
        travel_theme_view
        WHERE
        member_id = #{id}
        ORDER BY reg_date DESC
        limit #{offset}, #{size}
    </select>


    <!-- ====== main화면 기본 6개 나오는 부분 ================= -->
    <select id="getListForMain" resultType="kr.co.belocal.web.entity.TravelThemeView">
        SELECT *
        FROM
        travel_theme_view
        ORDER BY reg_date DESC
        limit #{offset}, #{size}
    </select>


    <!-- ====== search-modal : 검색용 ================= -->
    <select id="getListByQuery" resultType="TravelThemeView">
        SELECT *
        FROM
        travel_theme_view
        WHERE
        title LIKE '%${query}%'
        OR
        description LIKE '%${query}%'
        OR
        name LIKE '%${query}%'
        OR
        lcName LIKE '%${query}%'
    </select>
    <select id="getListByCtgId" resultType="TravelThemeView">
        SELECT *
        FROM
        travel_theme_view
        WHERE ctgId = #{ctgId}
        ORDER BY member_id
    </select>





    <insert id="save" parameterType="kr.co.belocal.web.entity.TravelTheme" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO
        travel_theme
        (
         member_id,
         title,
         description,
         bookable_date_start,
         bookable_date_end,
         contact_preferred_time_start,
         contact_preferred_time_end
        )
        VALUES
        (
        #{memberId},
        #{title},
        #{description},
        #{bookableDateStart},
        #{bookableDateEnd},
        #{contactPreferredTimeStart},
        #{contactPreferredTimeEnd}
        )
    </insert>


    <update id="update" parameterType="kr.co.belocal.web.entity.TravelTheme">
        UPDATE
        travel_theme
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="region != null">region = #{region},</if>
        </set>
        WHERE id = #{id};
    </update>


    <delete id="delete" parameterType="kr.co.belocal.web.entity.TravelTheme">
        DELETE
        FROM
        travel_theme
        WHERE
        id = #{id};
    </delete>






    <!--
'travel_theme 페이지' member Table에서 member_id로 가져올 것들
1. title
2. description
3. is_reserved
4. member_id
-->

</mapper>
















