<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.belocal.web.repository.WishlistRepository">
    <select id="findAll" resultType="kr.co.belocal.web.entity.Wishlist">
        select * 
        from travel_theme 
        where member_id=#{memberId};
    </select>
</mapper>