.room{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
    height: 844px;
}

/* header부분 */
.room__title{
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    padding-right: 14px ;
    padding-left: 14px ;
    position: relative ;
    width: 100%;
    height: 72px ;
    border-bottom: 1px solid rgb(235, 235, 235) ;
}

/* 헤더 부분 divㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.room__undo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.room__detail{
    display: flex;
    /* height: 100%; */
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
    gap: 6px;
}


.room__menu{
    display: flex;
    /* height: 100%; */
    margin-bottom: 4px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}








.room__undo img{
    width: 32px;
    height: 32px;
}

.room__menu img{
    width: 32px;
    height: 32px;
}

.room__user-name{
    font-weight: var(--font-weight-regular);
}

.room__date{
    font-size: var(--font-size-small10);
}

/* 헤더 부분 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */




/* theme 목록부분 */

.room__theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 58px;
    padding: var(--section-padding);
    border-bottom: 1px solid #ebebeb;;
}

.room__theme-Img {
    /* padding: 2px 0; */
    width: 72px;
    height: 100%;
}

.room__theme-Img img{
    display: flex;    
    width: 100%;
    height: 100%;
}

.room__theme-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 2;
}

.room__reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 54px;
    height: 24px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.room__reservation span{
    font-size: var(--font-size-small10);
    font-weight: var(--font-weight-light);
}



/* theme 목록 부분 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/* 메시지창 */
.room__chat-wrap{
    width: 100%;
    height: 650px;
    overflow-y: scroll;
}

.room__item{
    display: flex;
    margin-top: 0;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 12px;
    width: 100%;
    
}
/* 메시지창 end */

/* 채팅내용 */
.room__content{
    display: flex;
    position: relative;
}

.room__msg{
    border-radius: var(--border-radius);
    max-width: 220px;
    padding: 8px;
    text-align: left;
    word-break: break-word;
    font-size: var(--font-size-medium14);
    box-shadow: var(--box-shadow);
}

.room__time{
    display: flex;
    margin: 0 0 4px 4px;
    justify-content: center;
    align-items: flex-end;
    font-size: var(--font-size-small10);
}
/* 채팅내용 end */


.room__user-img{
    margin:  8px 8px 0 0;
    border-radius: 50%;
    width: 52px;
    overflow: hidden;
}

.room__user-img img{
    width: 100%;
    height: 100%;
}

.my-msg{
    justify-content: flex-end;
}

.my-msg span{
    margin-right: 6px;
    margin-bottom: 4px;
}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 메시지 입력창 */
.room__input{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 12px 24px;
}


.room__input-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}



.room__text{
    display: flex;
    flex-grow: 2;
    border: none;
    padding: 12px 8px;
    outline: none;
    max-height: 150px;
    text-align: left;
}


.room__input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-point-white);
    width: 42px;
    height: 42px;
    
}

.room__input-btn img{
    width: 20px;
    height: 20px;
}



/* 버튼 모달창 */

.room__nav{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 54px; /* Location of the box */
    padding-left: 10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.room__nav-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    /* padding: 1px 4px; */
    margin-left: 140px;
    border-radius: var(--border-radius);
    /* border: 1px solid #777; */
    background-color: var(--color-point-white);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}


.nav-btn{
    border-radius: 12px 12px 0 0;
    gap: 4px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #ebebeb;
}


.nav-btn:nth-child(3){
    border-radius: 0 0 12px 12px;
    border-bottom: 0;
}

/* .nav-btn div{
    display: flex;

    width: 100%;
    height: 100%;
} */
.nav-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.hidden{
    display: none;
}


